/* || GENERAL STYLES */

html, body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    width: 100%;
    text-align: center;
}

h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    color: #632A16;
    font-size: 1.5rem;
}

h3 {
    font-weight: normal;
}

p {
    font-size: 1.3rem;
}

/* || MAIN CONTAINERS */


/* && Header */
.mainHeader {
    display: flex;
    justify-content: center;
    height: 10rem;
    background-color: #FDFCF4;
}

.mainHeader img {
    padding: 2rem;
}

/* && Navigation bar */
.mainNav {
    display: flex;
    justify-content: center;
    height: 3rem;
    background-color: #F8A14E;
}

.mainNav ul {
    margin: 0px;
    padding: 0px
}

.mainNav li {
    display: inline-block;
}

.mainNav li a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: white
}

main#indexContent li:nth-child(1), main#quienesSomosContent li:nth-child(2),
main#productosContent li:nth-child(3), main#panaderiaContent li:nth-child(3),
main#pasteleriaContent li:nth-child(3), main#pedidoContent li:nth-child(4),
main#contactarContent li:nth-child(5) {
    background-color: #FAB97D;
    font-weight: bold;
}

/* && Main section */
.mainSection {
    display: flex;
    flex-wrap: wrap;
}

.mainSectionHeader, .mainSectionHeader img, .mainSectionHeader div {
    width: 100%;
}

.mainSectionHeader {
    height: 12rem;
    overflow: hidden;
    position: relative;
}

.mainSectionHeader img {
    height: 45rem;
    padding: 0px;
}

.mainSectionHeader div, .mainSectionHeader h1, .mainSectionHeader h2, .mainSectionHeader h3 {
    position: absolute;
}

.mainSectionHeader div {
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(248, 161, 78, 0.5);
}

.mainSectionHeader h1, .mainSectionHeader h2 {
    margin: 0px;
    top: 40%;
}

.mainSectionHeader h2 {
    color: white;
}

.mainSectionHeader h3 {
    margin: 0px;
    padding: 0.5rem 0rem;
    bottom: 0%;
    background-color: #F8F8F8;
}

.mainSectionHeader h3 span {
    font-weight: bold;
}

main#indexContent .mainSectionHeader {
    height: 45rem !important;
}

main#indexContent .mainSectionHeader div {
    background-color: rgba(248, 161, 78, 0) !important;
}

main#indexContent .mainSectionHeader h1 {
    top: 85% !important;
}

/* && Footer */
.mainFooter {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem 2rem;
    background-color: #632A16;
    color: white
}

.contactArticle {
    display: flex;
    flex-direction: column;
}

.contactArticle p {
    margin: 0rem auto 2rem;
    color: #F8A14E;
    font-size: 1rem;
}

.contactArticle form article {
    display: grid;
    grid-template-columns: 25% 75%;
    row-gap: 1rem;
}

.contactArticle form textarea {
    height: 7rem;
}

.contactArticle .formFooter input:nth-child(2) {
    background-color: #F8A14E;
    padding: 0.5rem 2rem;
    border-radius: 0.75rem;
    color: white;
    font-weight: bold;
}

.socialFooter a {
    display: inline-block;
}

.locationFooter p {
    font-size: 1rem;
}

.locationFooter iframe {
    width: 96%;
    height: 15rem;
    margin: 2%;
    border-width: 0px;
    border-radius: 0.5rem / 0.5rem;
}

/* || SECTIONS */

/* && Our Products Section */
.ourProductsSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: min-content;
    padding: 1rem 4%;
}

.ourProductsSection header, .productsDescription {
    width: 100%;
}

main#indexContent .ourProductsSection {
    width: 56% !important;
}

.productType {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.productType img {
    width: 100%;
    height: 20rem;
    border-radius: 1rem / 1rem;
}

.productType a {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border-radius: 1rem / 1rem;
    color: white;
    text-decoration: none;
}

.btnBakery {
    background-color: #F8A14E;
}

.btnCakeShop {
    background-color: #FF97AA;
}

/* && Order Form Section */

.orderFormSection {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main#indexContent .orderFormSection {
    width: 36% !important;
}

.orderFormSection header, .chooseProductsList {
    padding: 1rem 5rem;
}

.orderFormSection header {
    display: grid;
    grid-template-columns: 35% 65%;
    row-gap: 1rem;
    background-color: #F4F4F4;
}

.orderFormSection header h2, .chooseProductsList h3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.chooseProductsList {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #FBFBFB;
}

.productTypeCheckList {
    display: flex;
    flex-direction: column;
}

.productTypeCheckList label {
    margin-bottom: 0.5rem;
}

.orderFormSection footer {
    background-color: #F4F4F4;
}

.orderFormSection footer input:nth-child(2) {
    padding: 0.5rem 1rem;
    background-color: #F8A14E;
    color: #632A16;
    border-radius: 0.5rem / 0.5rem;
}

/* || UTILS */
.formFooter {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.formFooter label {
    text-align: center;
}

.formFooter input:nth-child(2) {
    margin: 1rem auto 0rem;
    border-width: 0px;
}
